.container {
    margin-top:80px;
}

th {
    height: 30px;
    text-align: center;
    font-weight: 700;
}
td {
    height: 50px;
    text-align:center;
}

th:nth-of-type(6), td:nth-of-type(6) {
    background-color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
    background-color: red;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    padding:15px;
}

.today {
    background-color: lightblue;
}

.title {
    font-weight: bold;
    font-size: 26px;
}